{
  "extends": "@antfu",
  "rules": {
    "no-console": 0,
    "curly": 0,
    "brace-style": 0,
    "sort-imports": 0,
    "vue/attribute-hyphenation": 0,
    "vue/v-on-event-hyphenation": 0,
    "@typescript-eslint/brace-style": 0,
    "vue/component-tags-order": [
      "error",
      {
        "order": [
          "script",
          "template",
          "style"
        ]
      }
    ]
  }
}