
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation--fade-in {
  animation: fade-in 200ms ease forwards;
  will-change: opacity;
}

@keyframes zoom-in {
  0% {
    transform:scale(1.05);
  }
  100% {
    transform:scale(1);
  }
}

.animation--zoom-in {
  animation: zoom-in 600ms ease 50ms forwards;
  will-change: transform;
  backface-visibility: hidden;
}
