@media (prefers-color-scheme: light) {
  :root {
    --bg-main: #ffffff;
    --text-color-main: #2c3e50;
  }
}
/* 避免在深色模式下载入时闪屏 */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-main: #35363a;
    --text-color-main: #ffffff;
  }
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: arial, sans-serif;
  font-size: 14px;
  color: var(--text-color-main) !important;
  background-color: var(--bg-main) !important;
  /* GPU */
  transform: translateZ(0);
}

/* button icon */
.icon__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* setting */
.setting__row-element {
  margin-left: 10px;
}
.setting__input-wrap {
  flex: 1;
  display: flex;
  justify-content: space-between;
  .setting__input_item {
    display: flex;
    align-items: center;
    &:nth-of-type(2) {
      flex: 1;
      justify-content: flex-end;
      margin-left: 10px;
    }
  }
}
.setting__input-number {
  flex: 0 0 auto;
  margin-left: 10px;
  width: 110px;
}
.setting__input-number--unit {
  flex: 0 0 auto;
  margin-left: 10px;
  width: 150px;
}

/* dragMode input */
.n-input.n-input--disabled .n-input__input-el,
.n-input.n-input--disabled .n-input__textarea-el {
  cursor: move;
}

/* modal scroll */
.modal__content {
  height: 33vh;
  white-space: pre-line;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
    /* width: 10px; */
  }
  /* &::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  } */
}
