@media (prefers-color-scheme: light) {
  :root {
    --bg-main: #ffffff;
    --text-color-main: #2c3e50;
    /* moveable */
    --auxiliary-line-main: #40a9ff;
    --auxiliary-line-bound: #ff7875;
    --auxiliary-line-element: #69c0ff;
    --bg-moveable-element: #747d8c;
    /* setting */
    --bg-bottom-bar: #D1D5DB;
    /* calendar */
    --text-color-red: #fa5252;
    --bg-calendar-rest: rgba(255, 110, 110, 0.4);
    --bg-calendar-work: rgba(122, 122, 122, 0.5);
    --bg-calendar-label-work: rgba(122, 122, 122, 0.6);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-main: #35363a;
    --text-color-main: #ffffff;
    /* moveable */
    --auxiliary-line-main: #40a9ff;
    --auxiliary-line-bound: #ff7875;
    --auxiliary-line-element: #69c0ff;
    --bg-moveable-element: #747d8c;
    /* setting */
    --bg-bottom-bar: #424247;
    /* calendar */
    --text-color-red: #fa5252;
    --bg-calendar-rest: rgba(255, 110, 110, 0.4);
    --bg-calendar-work: rgba(122, 122, 122, 0.5);
    --bg-calendar-label-work: rgba(122, 122, 122, 0.6);
  }
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 14px;
  color: var(--text-color-main);
  background-color: var(--bg-main);
}
